# Исследование надежности заемщиков

**Описание проекта:**  
Проект выполнен для банковского сектора. Цель, поставленная кредитным отделом банка, — оценить способность потенциального заемщика вернуть кредит в срок. База данных, предоставленная банком, содержит статистику о платежеспособности клиентов. В рамках работы над проектом была выполнена предобработка данных, включая удаление пропусков, поиск и обработку дубликатов. Также были определены зависимости, позволяющие выявить факторы, влияющие на своевременное погашение кредита.

## Загрузка данных

Выполним ипорт необходимых библиотек и изучим датасет `data`.

In [1]:
import pandas as pd
try:
    from google.colab import drive
    drive.mount('/content/drive')
except ImportError:
    print('Код выполняется вне Google Colab.')

Код выполняется вне Google Colab.

In [2]:
try:
    data = data = pd.read_csv('/datasets/data.csv')  # Для практикума
except FileNotFoundError:
    try:
        data = pd.read_csv('../Модуль 1 спринт 1/data.csv')  # Если файл локальный
    except FileNotFoundError:
        try:
            data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Модуль 1/Модуль 1 спринт 1/data.csv')  # Для Google Colab
        except FileNotFoundError:
            print('Файл не найден ни в одном из указанных мест.')

Выведим первые 20 строчек датафрейма `data` на экран.

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Изучим основную информацию о датафрейме с помощью метода `info()`.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

Проверим пропущенные значения в столбцах.

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`.

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В столбце `days_employed` обнаружены отрицательные значения. Заменим все отрицательные значения положительными с помощью метода `abs()`.

In [7]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости определим медианное значение трудового стажа `days_employed` в днях.

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Оставим их как есть.

Определим уникальные значения столбца `children`.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Выполним проверку столбца `children`, чтобы убедиться, что аномалии удалены.

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Заполним пропуски в столбце `days_employed` медианными значениями по каждому типа занятости `income_type`.

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Проверим, что все пропуски заполнены.

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Изменим тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем столбец `education`, в столбце наблюдаются строки в разных регистрах.

In [15]:
data['education'] = data['education'].str.lower()

Проверим строки-дубликаты в данных.

In [16]:
data.duplicated().sum()

np.int64(71)

Выполним удаление данных строк.

In [17]:
data = data.drop_duplicates()

### Категоризация данных

Создадим категориальный столбец `total_income_category` исходя от уровня дохода:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Изучим перечень уникальных целей взятия кредита из столбца `purpose`.

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследовательский анализ

Изучим есть ли зависимость между количеством детей и возвратом кредита в срок.

Для более наглядного анализа зависимости между двумя этими показаетелями я "соединил" два столбца `debt` и `children` в одну таблицу:

В результате получили таблицу где: 

* `children` - столбец отображающий количество детей,
* `debt` - столбцы представляют наличие или отсутствие долга (0 - вернувших кредит в срок, 1 - не вернувших кредит в срок);

In [33]:
def que(category):
    data_temp = data.pivot_table(index=category, values='debt', aggfunc=['count', 'sum', 'mean'], observed=False)
    data_temp.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    data_temp['Доля должников'] = data_temp['Доля должников'] * 100
    display(data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))
    
que('children')

**Вывод:** существует зависимость между количеством детей и возвратом кредита в срок: процент невозвратов кредита несколько выше у заемщиков с детьми по сравнению с заемщиками без детей. Заемщиков с 5-ю детьми слишком мало, для статистически значимого вывода.

Проверим, есть ли зависимость между семейным положением и возвратом кредита в срок.

Для анализа зависимости между семейным положением и возвратом кредита в срок был использован аналогичный подход, как и с количеством детей.

В результате получили таблицу где: 

* `family_status` - столбец отображающий семейный статус,
* `debt` - столбцы представляют наличие или отсутствие долга (0 - вернувших кредит в срок, 1 - не вернувших кредит в срок);

In [34]:
que('family_status')

**Вывод:** Исходя из представленных данных, можно сделать следующие выводы:

* Люди, состоящие в браке, имеют процент возврата кредита в срок выше, чем не состоящие в браке,
* Вдовцы / вдовы имеют самый высокий процент возврата в срок - 93.38%,
* Наименьший процент возврата в срок наблюдается у людей, которые не женаты или не замужем 90.24%;

Проверим, есть ли зависимость между уровнем дохода и возвратом кредита в срок.

В результате получили таблицу где:

* `total_income_category` - столбец отображающий доход по категориям,
* `debt` - столбцы представляют наличие или отсутствие долга (0 - вернувших кредит в срок, 1 - не вернувших кредит в срок);

Так как выборка не сбалансирована определим категории с помощью метода `qcut`.

In [25]:
data['income_category'] = pd.qcut(data['total_income'], q=4, labels=['Низкий', 'Ниже среднего', 'Выше среднего', 'Высокий'])

In [26]:
display(data[['total_income', 'debt', 'income_category']].head(15))

    total_income  debt income_category
0         253875     0         Высокий
1         112080     0   Ниже среднего
2         145885     0   Выше среднего
3         267628     0         Высокий
4         158616     0   Выше среднего
5         255763     0         Высокий
6         240525     0         Высокий
7         135823     0   Ниже среднего
8          95856     0          Низкий
9         144425     0   Выше среднего
10        113943     0   Ниже среднего
11         77069     0          Низкий
12        118514     0   Ниже среднего
13        130458     0   Ниже среднего
14        165127     1   Выше среднего

In [35]:
que('income_category')

**Вывод:** Зависимость между уровнем дохода и возвратом кредита в срок существует. С увеличением уровня дохода доля должников имеет тенденцию к снижению. Наименьший показатель невозврата кредита в срок у людей с `высоким` доходом - 7,1%. Нужно заметить, у граждан с `низким` доходом процент невозврата кредита в срок находится на отметке - 8,0%, когда как наихудший показатель у людей с доходом `ниже среднего` - 8,8%.

Определим, как разные цели кредита влияют на его возврат в срок.

In [29]:
# создадим сводную таблицу из столбцов debt и purpose_category:
purpose_category_pivot = data.pivot_table(index='purpose_category', columns='debt', values='total_income', aggfunc='count')

In [30]:
purpose_category_pivot['return_percentage'] = purpose_category_pivot[0] / (purpose_category_pivot[0] + purpose_category_pivot[1]) * 100

In [31]:
purpose_category_pivot

debt                         0    1  return_percentage
purpose_category
операции с автомобилем    3879  400          90.652022
операции с недвижимостью  9971  780          92.744861
получение образования     3619  369          90.747242
проведение свадьбы        2130  183          92.088197

In [32]:
que('purpose_category')

**Вывод:** данные показывают, что люди, берущие кредиты на операции с недвижимостью и проведение свадьбы, чаще возвращают их вовремя по сравнению с теми, кто берет кредиты на операции с автомобилями и получение образования.

## Общий вывод.

**1. Описание задачи**
**Цель проекта**: Оценить способность потенциальных заемщиков возвращать кредиты в срок для банковского сектора.  

**Данные**:  
- Датасет содержит информацию о 21 461 клиенте банка.  
- Признаки: возраст, доход, семейное положение, цели кредита, тип занятости, наличие детей и другие.  
- Целевой признак: `debt` (0 — кредит возвращен в срок, 1 — просрочка).

**2. Ключевые результаты исследования**

**a) Зависимость от семейного положения**
- **Лучшие показатели**:  
  - Вдовцы/вдовы — **93.38%** возврата кредита в срок.  
  - Люди в браке — **92.56%** возврата.  
- **Худшие показатели**:  
  - Неженатые/незамужние — **90.24%** возврата.  
  - В гражданском браке — **91.29%** возврата.  

**Вывод**: Люди, состоящие в официальном браке или потерявшие супруга, демонстрируют большую финансовую ответственность.

**b) Зависимость от уровня дохода**
- **Лучшие показатели**:  
  - Высокий доход (категория A) — **7.15%** просрочек.  
- **Худшие показатели**:  
  - Доход ниже среднего (категория B) — **8.81%** просрочек.  
  - Низкий доход (категория E) — **8.01%** просрочек.  

**Вывод**: С увеличением уровня дохода доля должников снижается, однако люди с низким доходом показывают лучшие результаты, чем те, чей доход находится ниже среднего.

**c) Зависимость от целей кредита**
- **Лучшие показатели**:  
  - Операции с недвижимостью — **7.26%** просрочек.  
  - Проведение свадьбы — **7.91%** просрочек.  
- **Худшие показатели**:  
  - Операции с автомобилями — **9.35%** просрочек.  
  - Получение образования — **9.25%** просрочек.  

**Вывод**: Кредиты на недвижимость и свадьбы возвращаются чаще, чем кредиты на автомобили и образование.

**3. Основные выводы**
1. **Семейное положение** напрямую влияет на надежность заемщика:  
   - Люди в официальном браке и вдовцы/вдовы чаще возвращают кредиты вовремя.  
   - Неженатые/незамужние клиенты представляют больший риск для банка.

2. **Уровень дохода** имеет обратную зависимость с риском просрочки:  
   - Чем выше доход, тем меньше вероятность невозврата.  
   - Однако люди с низким доходом показывают лучшие результаты, чем те, чей доход находится ниже среднего.

3. **Цель кредита** также влияет на надежность заемщика:  
   - Кредиты на недвижимость и свадьбы считаются менее рискованными.  
   - Кредиты на автомобили и образование имеют самый высокий риск просрочки.